{{#match @custom.site_language "en"}}
    <a class="lang-switch" hreflang="pt-br"
       href="https://pt.yourblog.com/{{#if post.codeinjection_head}}{{post.codeinjection_head}}/{{/if}}">
        Português
    </a>
{{else}}
    <a class="lang-switch" hreflang="en"
       href="https://en.yourblog.com/{{#if post.codeinjection_head}}{{post.codeinjection_head}}/{{/if}}">
        English
    </a>
{{/match}}
