{{#match @custom.site_language "en"}}
    <a class="lang-switch" lang="pt-BR" hreflang="pt-br"
       href="https://pt.getinference.com.br/{{#if post.codeinjection_head}}{{post.codeinjection_head}}/{{/if}}">
        Português
    </a>
{{else}}
    <a class="lang-switch" lang="en" hreflang="en"
       href="https://en.getinference.com.br/{{#if post.codeinjection_head}}{{post.codeinjection_head}}/{{/if}}">
        English
    </a>
{{/match}}
